@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-primary);
  transition: 0.4s;
}

input[type='file'] {
  display: none;
}

button,
input[type='submit'],
.custom-file-upload {
  background-color: hsla(160, 100%, 37%, 1);
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-size: small;
  border-radius: 0.25em;
  cursor: pointer;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--vt-c-link-hover);
  }
}
